# AMENITIES

In [1]:
import pandas as pd
import numpy as np

## Comprobar listas de "amenities" por ciudad

In [2]:
df_pmi = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\\Datasets\\Amenities\\Archiv\\airbnb_pmi_amenities.csv")

In [3]:
df_pmi.head(1)

       ID                                          Amenities
0  178456  ['Vistas al canal', 'Vistas al lago', 'Secador...

In [4]:
#Contar filas con valores NaN en 'Lista Amenities'
filas_NaN_pmi = df_pmi['Amenities'].isna().sum()
print(f"El número de filas con NaN es en el df_pmi: {filas_NaN_pmi}")

El número de filas con NaN es en el df_pmi: 710

In [6]:
df_mad = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\\Datasets\\Amenities\\Archiv\\airbnb_madrid_amenities.csv")

In [7]:
df_mad.head(1)

   Unnamed: 0       ID                                    Lista Amenities
0           0  3586833  ['Secador de pelo', 'Agua caliente', 'Lavadora...

In [8]:
#Contar filas con valores NaN en 'Lista Amenities'
filas_NaN_mad = df_mad['Lista Amenities'].isna().sum()
print(f"El número de filas con NaN es en el df_mad: {filas_NaN_mad}")

El número de filas con NaN es en el df_mad: 105

In [9]:
df_bcn = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\\Datasets\\Amenities\\Archiv\\airbnb_barcelona_amenities.csv")

In [10]:
df_bcn.head(1)

   Unnamed: 0        ID Lista Amenities
0           0  17403344             NaN

In [11]:
#Contar filas con valores NaN en 'Lista Amenities'
filas_NaN_bcn = df_bcn['Lista Amenities'].isna().sum()
print(f"El número de filas con NaN es en el df_bcn: {filas_NaN_bcn}")

El número de filas con NaN es en el df_bcn: 1560

In [12]:
df_vlc = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\\Datasets\\Amenities\\Archiv\\airbnb_valencia_amenities.csv")

In [13]:
df_vlc.head(1)

                    ID                                    Lista Amenities
0  1148493583486283660  ['Secador de pelo', 'Productos de limpieza', '...

In [14]:
#Contar filas con valores NaN en 'Lista Amenities'
filas_NaN_vlc = df_vlc['Lista Amenities'].isna().sum()
print(f"El número de filas con NaN es en el df_vlc: {filas_NaN_vlc}")

El número de filas con NaN es en el df_vlc: 153

In [15]:
df_ovd = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\\Datasets\\Amenities\\Archiv\\airbnb_gijonoviedo_amenities.csv")

In [16]:
df_ovd.head(1)

,Unnamed: 0,ID,Lista Amenities
0,0,970291990719745713,"['Secador de pelo', 'Productos de limpieza', '..."

In [17]:
#Contar filas con valores NaN en 'Lista Amenities'
filas_NaN_ovd = df_ovd['Lista Amenities'].isna().sum()
print(f"El número de filas con NaN es en el df_ovd: {filas_NaN_ovd}")

El número de filas con NaN es en el df_ovd: 50

In [18]:
df_wh = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\GitHub\WhiteHosting\\CSVs\\WhiteHosting\\WhiteHosting estructurado2.csv")

In [19]:
df_wh_ame = df_wh[['ID', 'Lista_amenidades']]
df_wh_ame.head(1)

         ID                                   Lista_amenidades
0  36187629  {TV,Wifi,"Air conditioning",Kitchen,"Smoking a...

In [20]:
#Contar filas con valores NaN en 'Lista_amenidades'
filas_NaN = df_wh_ame['Lista_amenidades'].isna().sum()
print(f"El número de filas con NaN es en el df_vlc: {filas_NaN}")

El número de filas con NaN es en el df_vlc: 1

In [21]:
#Cambiamos el nombre de "Amenities" a "Lista Amenities" en el df_pmi
df_pmi.rename(columns={'Amenities': 'Lista Amenities'}, inplace=True)

In [22]:
#Cambiamos el nombre de "Lista_amenidades" a "Lista Amenities" en el df_wh_ame
df_wh_ame.rename(columns={'Lista_amenidades': 'Lista Amenities'}, inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13280\68374191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wh_ame.rename(columns={'Lista_amenidades': 'Lista Amenities'}, inplace=True)

In [23]:
#Eliminamos la columna "Unnamed:0" en los df_mad, df_bcn, df_ovd
df_mad.drop(columns=['Unnamed: 0'], inplace=True)
df_bcn.drop(columns=['Unnamed: 0'], inplace=True)
df_ovd.drop(columns=['Unnamed: 0'], inplace=True)

In [24]:
#Eliminamos las filas con NaN
df_pmi = df_pmi.dropna(subset=['Lista Amenities'])
df_mad = df_mad.dropna(subset=['Lista Amenities'])
df_bcn = df_bcn.dropna(subset=['Lista Amenities'])
df_vlc = df_vlc.dropna(subset=['Lista Amenities'])
df_ovd = df_ovd.dropna(subset=['Lista Amenities'])
df_wh_ame = df_wh_ame.dropna(subset=['Lista Amenities'])

## Crear df unico para los "Amenities" de Airbnb

In [25]:
#Combinar los DataFrames en uno solo
df = pd.concat([df_pmi, df_mad, df_bcn, df_vlc, df_ovd, df_wh_ame], ignore_index=True)

df.head(5)

       ID                                    Lista Amenities
0  178456  ['Vistas al canal', 'Vistas al lago', 'Secador...
1  238799  ['Vistas a la playa', 'Vistas al perfil urbano...
2  291211  ['Vistas al perfil urbano', 'Bañera', 'Secador...
3  328541  ['Vistas al patio', 'Vistas al perfil urbano',...
4  441930  ['Secador de pelo', 'Agua caliente', 'Lavadora...

In [26]:
df.shape

(18444, 2)

# Confirmar datos relevantes

Decidimos seleccionar los siguientes datos, los cuales podrían tener un mayor impacto en el precio:
1. Vistas: Vistas al cana / Vistas al mar / Vistas al lago / Vistas a la playa / Vistas a la montaña / Vistas al puerto
1/2. Vistas: Sí/No
2. Primera línea: Sí/No
3. Wifi: Sí/No
4. Aire acondicionado: Sí/No
5. Aparcamiento: gratuito / de pago
5/2. Aparcamiento: Sí/No

In [27]:
df.dtypes

ID                  int64
Lista Amenities    object
dtype: object

In [28]:
#Cambiamos tipo de dato de la columna "ID"
df['ID'] = df['ID'].astype(str)

In [29]:
df.shape

(18444, 2)

In [30]:
df.head(5)

       ID                                    Lista Amenities
0  178456  ['Vistas al canal', 'Vistas al lago', 'Secador...
1  238799  ['Vistas a la playa', 'Vistas al perfil urbano...
2  291211  ['Vistas al perfil urbano', 'Bañera', 'Secador...
3  328541  ['Vistas al patio', 'Vistas al perfil urbano',...
4  441930  ['Secador de pelo', 'Agua caliente', 'Lavadora...

Comprobación de ID´s duplicados

In [31]:
#Comprobamos los duplicados
duplicados = df[df.duplicated(subset=['ID'], keep=False)].sort_values(by='ID')
duplicados

             ID                                    Lista Amenities
7097   11416659  ['Secador de pelo', 'Champú', 'Agua caliente',...
9985   11416659  ["Essentials", "Dishes and silverware", "Heati...
12170  11658641  ["Dishes and silverware", "Beachfront", "Carbo...
183    11658641  ['Vistas a la bahía', 'Vistas a la playa', 'Vi...
5171   11989301  ['Vistas al perfil urbano', 'Secador de pelo',...
...         ...                                                ...
18188   8517585  {TV,Internet,Wifi,Kitchen,"Pets allowed",Break...
9531     899254  {TV,Wifi,"Air conditioning",Kitchen,"Paid park...
7204     899254  ['Secador de pelo', 'Champú', 'Agua caliente',...
15772   9899127  {TV,"Cable TV",Internet,Wifi,Pool,Kitchen,"Fre...
160     9899127  ['Bañera', 'Secador de pelo', 'Bidé', 'Agua ca...

[330 rows x 2 columns]

In [61]:
#Comprobamos las dos primeras filas con el ID 11416659
lista1 = duplicados.iloc[0]["Lista Amenities"]
lista1

['Secador de pelo',
 'Champú',
 'Agua caliente',
 'Lavadora',
 'Servicios básicosToallas, sábanas, jabón y papel higiénico',
 'Perchas',
 'Plancha',
 'Televisión de alta definición de 48\xa0pulgadas',
 'Sistema de aire acondicionado sin conductos tipo split',
 'Calefacción',
 'Wifi',
 'Zona para trabajarEn una zona común',
 'CocinaCocina disponible para el uso de los huéspedes',
 'Frigorífico',
 'Microondas',
 'Utensilios básicos de cocinaCazuelas y sartenes, aceite, sal y pimienta',
 'Platos y cubiertosCuencos, palillos, platos, tazas, etc.',
 'Fogón',
 'Horno',
 'Cafetera',
 'Patio o balcón (privada)',
 'Aparcamiento gratuito en la calle',
 'Admite mascotasLos animales de asistencia siempre están permitidos',
 'No disponible: SecadoraSecadora',
 'No disponible: Detector de humoDetector de humoNo hay detector de humo en la propiedad.',
 'No disponible: Detector de monóxido de carbonoDetector de monóxido de carbonoNo hay detector de monóxido de carbono en la propiedad.']

In [32]:
lista2 = duplicados.iloc[1]["Lista Amenities"]
lista2

'["Essentials", "Dishes and silverware", "Heating", "Dedicated workspace", "Cooking basics", "Shampoo", "Patio or balcony", "Iron", "TV", "Coffee maker", "Hangers", "Hair dryer", "Washer", "Air conditioning", "Stove", "Wifi", "Microwave", "Hot water", "Refrigerator", "Oven", "Kitchen", "Free street parking"]'

Después de revisar ambas listas, podemos ver que todos los elementos de la Lista 1 tienen una correspondencia directa en la Lista 2, aunque algunos términos están expresados de manera diferente o más detallada en la Lista 1. Por lo tanto, decidimos eliminar los duplicados.

In [33]:
#Eliminamos ID´s duplicados
df.drop_duplicates(subset=['ID'])

             ID                                    Lista Amenities
0        178456  ['Vistas al canal', 'Vistas al lago', 'Secador...
1        238799  ['Vistas a la playa', 'Vistas al perfil urbano...
2        291211  ['Vistas al perfil urbano', 'Bañera', 'Secador...
3        328541  ['Vistas al patio', 'Vistas al perfil urbano',...
4        441930  ['Secador de pelo', 'Agua caliente', 'Lavadora...
...         ...                                                ...
18439   3701970  {TV,"Air conditioning",Kitchen,"Smoking allowe...
18440   3809219  {TV,"Cable TV",Internet,Wifi,"Air conditioning...
18441   4845783  {TV,Internet,Wifi,Pool,Kitchen,Elevator,"Free ...
18442   2495345  {"Wireless Internet",Kitchen,"Buzzer/wireless ...
18443  23441002  {TV,Wifi,"Air conditioning",Kitchen,"Paid park...

[18279 rows x 2 columns]

Limpiamos el df con los datos de Airbnb y WhiteHosting

In [34]:
import ast

#Convertimos la columna 'Lista Amenities' de string a lista
def safe_literal_eval(val):
    try:
        #Intentamos evaluar la cadena como una lista
        evaluated = ast.literal_eval(val)
        #Aseguramos que el resultado sea una lista
        if isinstance(evaluated, list):
            return evaluated
        else:
            return val  #Devolvemos el valor original si no es una lista válida
    except (ValueError, SyntaxError):
        return val  #Devolvemos el valor original si ocurre un error

df["Lista Amenities"] = df["Lista Amenities"].apply(safe_literal_eval)

#Definimos una función para limpiar los amenities de los "No disponible"
def limpiar_amenities(amenities):
    if isinstance(amenities, list):
        #Filtramos los amenities que no contienen 'No disponible'
        cleaned_amenities = [amenity for amenity in amenities if 'No disponible' not in amenity]
        return cleaned_amenities
    else:
        return amenities

#Aplicamos la función a la columna 'Lista Amenities'
df["Lista Amenities"] = df["Lista Amenities"].apply(limpiar_amenities)

In [35]:
#Comprobamos si ha funcionado (OK)
df.iloc[0]["Lista Amenities"]

['Vistas al canal',
 'Vistas al lago',
 'Secador de pelo',
 'Champú',
 'Agua caliente',
 'Lavadora en el alojamiento (Gratis)',
 'Servicios básicosToallas, sábanas, jabón y papel higiénico',
 'Perchas',
 'Ropa de cama',
 'Almohadas y mantas adicionales',
 'Plancha',
 'TV',
 'Cuna',
 'Parque/cunas de viaje',
 'Libros y juguetes para niños',
 'Trona',
 'Calefacción',
 'Wifi',
 'Zona para trabajarEn una habitación con puerta',
 'CocinaCocina disponible para el uso de los huéspedes',
 'Frigorífico',
 'Microondas',
 'Utensilios básicos de cocinaCazuelas y sartenes, aceite, sal y pimienta',
 'Platos y cubiertosCuencos, palillos, platos, tazas, etc.',
 'Lavavajillas',
 'Cocina de gas',
 'Horno',
 'Cafetera',
 'Acceso a la playa, primera líneaLos huéspedes pueden disfrutar de una playa cercana',
 'Acceso al lagoLos huéspedes pueden llegar a un lago a través de un sendero o un muelle',
 'Entrada independienteEntrada por otra calle o edificio',
 'Patio o balcón (privada)',
 'Patio trasero privado: Con valla en todo el perímetroUn espacio abierto en la propiedad generalmente cubierto de césped',
 'Mobiliario exterior',
 'Hamaca',
 'Comedor al aire libre',
 'Barbacoa',
 'Aparcamiento gratuito en las instalaciones',
 'Aparcamiento gratuito en la calle',
 'Cargador para coches eléctricosLos huéspedes pueden cargar sus vehículos eléctricos en la propiedad',
 'Apto para fumadores',
 'Llegada autónoma',
 'Caja de seguridad para llaves']

In [36]:
#Comprobamos si ha funcionado (OK)
df.iloc[12888]["Lista Amenities"]

'{TV,Kitchen,"Free parking on premises","Paid parking off premises","Smoking allowed","Free street parking",Washer,"First aid kit",Hangers,"Hair dryer",Iron,"Laptop friendly workspace","Hot water","Bed linens",Microwave,"Coffee maker",Refrigerator,"Dishes and silverware","Cooking basics",Oven,Stove,"Cleaning before checkout","Disabled parking spot",Beachfront}'

## Crear una copia de seguridad

In [37]:
df_backup = df.copy()

# Opcionalmente, puedes guardar esta copia en un archivo CSV para mayor seguridad
df_backup.to_csv('backup_df_amenities.csv', index=False)

## Crear nuevo df con las columnas definidas

In [38]:
#Función para encontrar valores específicos en 'Lista Amenities'
def buscar_amenity(amenities, keywords):
    #Verificamos si amenities es una lista válida
    if isinstance(amenities, list):
        for amenity in amenities:
            for keyword in keywords:
                if keyword.lower() in str(amenity).lower():
                    return amenity
    return "No disponible"

#Definimos las listas de palabras clave para cada nueva columna
vistas_keywords = ["Vistas al canal", "Vistas al mar", "Vistas al lago", "Vistas a la playa", "Vistas a la montaña", "Vistas al puerto", "View"]
primera_linea_keywords = ["Primera línea", "First line"]
wifi_keywords = ["Wifi"]
aire_acondicionado_keywords = ["Aire acondicionado", "Air conditioning"]
aparcamiento_keywords = ["aparcamiento", "parking"]

#Creamos el nuevo DataFrame con las columnas requeridas
nuevo_data = {
    "ID": df["ID"],
    "Vistas": df["Lista Amenities"].apply(lambda x: buscar_amenity(x, vistas_keywords)),
    "Primera línea": df["Lista Amenities"].apply(lambda x: buscar_amenity(x, primera_linea_keywords)),
    "Wifi": df["Lista Amenities"].apply(lambda x: buscar_amenity(x, wifi_keywords)),
    "Aire acondicionado": df["Lista Amenities"].apply(lambda x: buscar_amenity(x, aire_acondicionado_keywords)),
    "Aparcamiento": df["Lista Amenities"].apply(lambda x: buscar_amenity(x, aparcamiento_keywords))
}

df_nuevo = pd.DataFrame(nuevo_data)

df_nuevo.head()

,ID,Vistas,Primera línea,Wifi,Aire acondicionado,Aparcamiento
0,178456,Vistas al canal,"Acceso a la playa, primera líneaLos huéspedes ...",Wifi,No disponible,Aparcamiento gratuito en las instalaciones
1,238799,Vistas a la playa,"Acceso a la playa, primera líneaLos huéspedes ...",Wifi,Aire acondicionado,Aparcamiento gratuito en la calle
2,291211,No disponible,No disponible,Wifi,Aire acondicionado centralizado,Aparcamiento gratuito en las instalaciones
3,328541,No disponible,No disponible,Wifi,Sistema de aire acondicionado sin conductos ti...,No disponible
4,441930,No disponible,"Acceso a la playa, primera líneaLos huéspedes ...",Wifi,No disponible,Aparcamiento gratuito en la calle

In [39]:
df1 = df_nuevo.copy()

In [40]:
#Guardamos el df_nuevo en CSV por si lo nesesitamos
df_nuevo.to_csv('amenitiesALL_sin limpiar.csv', index=False)

In [170]:
#Cargar datos (Opcional)
df1 = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\GitHub\\WhiteHosting\\Zsofia\\amenitiesALL_sin limpiar.csv")

## Limpiar df_nuevo

### 1) "Vistas"

In [171]:
df1['Vistas'].unique()

array(['Vistas al canal', 'Vistas a la playa', 'No disponible',
       'Vistas al mar', 'Vistas a la montaña', 'Vistas al puerto',
       'Vistas al puerto deportivo', 'Vistas al lago',
       'Cámaras de seguridad en los exteriores de la propiedadThere are two security cameras in the aisle outside of the guests room and there is no acces and view to privet parts such as guests room.'],
      dtype=object)

In [172]:
#Reemplazar el nombre "Vistas al puerto deportivo" por "Vistas al puerto"
df1['Vistas'] = df1['Vistas'].replace('Vistas al puerto deportivo', 'Vistas al puerto')

#Reemplazar el nombre "Cámaras de seguriad...." por "No disponible"
df1['Vistas'] = df1['Vistas'].replace('Cámaras de seguridad en los exteriores de la propiedadThere are two security cameras in the aisle outside of the guests room and there is no acces and view to privet parts such as guests room.', 'No disponible')

In [173]:
#Añadir una columna más con Vistas Sí o No
df1['Vistas Sí/No'] = df1['Vistas'].apply(lambda x: 'Sí' if x != 'No disponible' else 'No')

### 2) "Primera línea"

In [174]:
#Limpiar la columna "Primera línea"
df1['Primera línea'] = df1['Primera línea'].str.split('Los huéspedes').str[0]

In [175]:
df1['Primera línea'].unique()

array(['Acceso a la playa, primera línea', 'No disponible',
       'Acceso compartido a la playa (primera línea)',
       'Acceso privado a la playa (primera línea)'], dtype=object)

In [176]:
#Decidimos solo diferenciar si tiene acceso a la playa o no
df1['Primera línea'] = df1['Primera línea'].map({'No disponible': 'No',
                                                 'Acceso a la playa, primera línea': 'Sí',
                                                 'Acceso compartido a la playa (primera línea)': 'Sí',
                                                 'Acceso privado a la playa (primera línea)': 'Sí'})

### 3) "Wifi"

In [177]:
#Decidimos solo diferenciar si tiene Wifi o no
df1['Wifi'] = df1['Wifi'].map({'No disponible': 'No',
                               'Wifi': 'Sí'})

In [178]:
df1['Wifi'].isna().sum()

671

In [179]:
#Reemplazar los valores NaN por "No"
df1['Wifi'].fillna('No', inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13280\626750077.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Wifi'].fillna('No', inplace=True)

### 4) "Aire acondicionado"

In [180]:
df1['Aire acondicionado'].unique()

array(['No disponible', 'Aire acondicionado',
       'Aire acondicionado centralizado',
       'Sistema de aire acondicionado sin conductos tipo split',
       'Aire acondicionado de ventana', 'Aire acondicionado portátil',
       'Air conditioning', 'Portable air conditioning',
       'Central air conditioning'], dtype=object)

In [181]:
#Decidimos solo diferenciar si tiene Aire acondicionado o no
df1['Aire acondicionado'] = df1['Aire acondicionado'].map({'No disponible': 'No',
                                                           'Aire acondicionado': 'Sí',
                                                           'Aire acondicionado centralizado': 'Sí',
                                                           'Sistema de aire acondicionado sin conductos tipo split': 'Sí',
                                                           'Aire acondicionado de ventana': 'Sí',
                                                           'Aire acondicionado portátil': 'Sí',
                                                           'Air conditioning': 'Sí',
                                                           'Portable air conditioning': 'Sí',
                                                           'Central air conditioning': 'Sí'})

### 5) "Aparcamiento"

In [182]:
df1['Aparcamiento'].unique()

array(['Aparcamiento gratuito en las instalaciones',
       'Aparcamiento gratuito en la calle', 'No disponible',
       'Aparcamiento de pago en garaje fuera de la propiedad',
       'Aparcamiento de pago fuera de las instalaciones',
       'Aparcamiento gratuito en un garaje residencial en la propiedad: 1\xa0plaza',
       'Aparcamiento gratuito en garaje en la propiedad',
       'Aparcamiento de pago en la propiedad',
       'Aparcamiento de pago en las instalaciones',
       'Aparcamiento de pago fuera de la propiedad',
       'Aparcamiento gratuito en la entrada dentro de la propiedad: 2\xa0plazas',
       'Aparcamiento techado gratuito en la propiedad: 4\xa0plazas',
       'Aparcamiento gratuito en la entrada dentro de la propiedad: 1\xa0plaza',
       'Aparcamiento gratuito en un garaje residencial en la propiedad: 2\xa0plazas',
       'Aparcamiento gratuito en garaje en la propiedad: 1\xa0plaza',
       'Aparcamiento techado gratuito en la propiedad: 1\xa0plaza',
       'Aparcamiento gratuito en la propiedad: 1\xa0plaza',
       'Aparcamiento de pago en la calle fuera de la propiedad',
       'Aparcamiento gratuito en la entrada dentro de la propiedad',
       'Aparcamiento gratuito en un garaje residencial en la propiedad',
       'Cámaras de seguridad en los exteriores de la propiedadZona piscina y su acceso. Pasillos exteriores. Zona parking y sus accesos. Bar piscina.',
       'Aparcamiento de pago en la propiedad: 1\xa0plaza',
       'Aparcamiento gratuito en la propiedad: 4\xa0plazas',
       'Aparcamiento gratuito en la propiedad: 7\xa0plazas',
       'Aparcamiento gratuito en la entrada dentro de la propiedad: 5\xa0plazas',
       'Aparcamiento gratuito en la entrada dentro de la propiedad: 4\xa0plazas',
       'Aparcamiento techado gratuito en la propiedad: 2\xa0plazas',
       'Aparcamiento de pago en garaje en la propiedad',
       'Aparcamiento de pago en garaje en la propiedad: 1\xa0plaza',
       'Cámaras de seguridad en los exteriores de la propiedadNo hi ha cameras, sólo en el parking',
       'Aparcamiento de pago en garaje en la propiedad: 6\xa0plazas',
       'Aparcamiento techado gratuito en la propiedad',
       'Cámaras de seguridad en los exteriores de la propiedadParking, zonas comunes',
       'Aparcamiento de pago en garaje en la propiedad: 8\xa0plazas',
       'Aparcamiento de pago en garaje en la propiedad: 2\xa0plazas',
       'Cámaras de seguridad en los exteriores de la propiedadCámaras en la zona de entrada y parking',
       'Aparcamiento gratuito en la entrada dentro de la propiedad: 6\xa0plazas',
       'Aparcamiento gratuito en garaje en la propiedad: 100\xa0plazas',
       'Aparcamiento gratuito en la entrada dentro de la propiedad: 3\xa0plazas',
       'Aparcamiento gratuito en garaje en la propiedad: 2\xa0plazas',
       'Aparcamiento gratuito en la propiedad: 8\xa0plazas',
       'Aparcamiento gratuito en la propiedad: 100\xa0plazas',
       'Aparcamiento gratuito en la entrada dentro de la propiedad: 10\xa0plazas',
       'Aparcamiento gratuito en la entrada dentro de la propiedad: 20\xa0plazas',
       'Aparcamiento gratuito en la propiedad: 10\xa0plazas',
       'Aparcamiento gratuito en la entrada dentro de la propiedad: 7\xa0plazas',
       'Cámaras de seguridad en los exteriores de la propiedadEn el aparcamiento',
       'Free parking on premises', 'Free street parking',
       'Paid parking off premises', 'Paid parking on premises',
       'Paid parking garage off premises', 'Parking',
       'Paid parking garage on premises – 1 space',
       'Paid parking garage on premises',
       'Free driveway parking on premises – 1 space'], dtype=object)

In [183]:
def simplificar_aparcamiento(valor):
    if isinstance(valor, str):
        if 'gratuito' in valor.lower() or 'free' in valor.lower():
            return 'Gratuito'
        elif 'de pago' in valor.lower() or 'paid' in valor.lower():
            return 'De pago'
    return 'No disponible'

#Aplicar la función
df1['Aparcamiento'] = df1['Aparcamiento'].apply(simplificar_aparcamiento)

#Imprimir los valores únicos para comprobar
print(df1['Aparcamiento'].unique())

['Gratuito' 'No disponible' 'De pago']

In [184]:
#Añadimos una columna más con Aparcamiento Sí o No
df1['Aparcamiento Sí/No'] = df1['Aparcamiento'].apply(lambda x: 'Sí' if x != 'No disponible' else 'No')

In [185]:
df1.head(2)

,ID,Vistas,Primera línea,Wifi,Aire acondicionado,Aparcamiento,Vistas Sí/No,Aparcamiento Sí/No
0,178456,Vistas al canal,Sí,Sí,No,Gratuito,Sí,Sí
1,238799,Vistas a la playa,Sí,Sí,Sí,Gratuito,Sí,Sí

## Reorganizamos las columnas

In [186]:
df_amenities_final = df1[['ID', 'Vistas Sí/No', 'Vistas', 'Primera línea', 'Wifi', 'Aire acondicionado', 'Aparcamiento Sí/No', 'Aparcamiento']]

In [187]:
df_amenities_final.head(5)

,ID,Vistas Sí/No,Vistas,Primera línea,Wifi,Aire acondicionado,Aparcamiento Sí/No,Aparcamiento
0,178456,Sí,Vistas al canal,Sí,Sí,No,Sí,Gratuito
1,238799,Sí,Vistas a la playa,Sí,Sí,Sí,Sí,Gratuito
2,291211,No,No disponible,No,Sí,Sí,Sí,Gratuito
3,328541,No,No disponible,No,Sí,Sí,No,No disponible
4,441930,No,No disponible,Sí,Sí,No,Sí,Gratuito

## Comprobamos los tipos de datos

In [188]:
df_amenities_final.dtypes

ID                     int64
Vistas Sí/No          object
Vistas                object
Primera línea         object
Wifi                  object
Aire acondicionado    object
Aparcamiento Sí/No    object
Aparcamiento          object
dtype: object

In [189]:
#Convertir Sí/No a 1/0 y tipo int para poder realizar analisis cuantitativos más adelante
df_amenities_final["Vistas Sí/No"] = df_amenities_final["Vistas Sí/No"].map({"Sí": 1, "No": 0}).astype(int)
df_amenities_final["Primera línea"] = df_amenities_final["Primera línea"].map({"Sí": 1, "No": 0}).astype(int)
df_amenities_final["Wifi"] = df_amenities_final["Wifi"].map({"Sí": 1, "No": 0}).astype(int)
df_amenities_final["Aire acondicionado"] = df_amenities_final["Aire acondicionado"].map({"Sí": 1, "No": 0}).astype(int)
df_amenities_final["Aparcamiento Sí/No"] = df_amenities_final["Aparcamiento Sí/No"].map({"Sí": 1, "No": 0}).astype(int)

In [190]:
df_amenities_final.dtypes

ID                     int64
Vistas Sí/No           int32
Vistas                object
Primera línea          int32
Wifi                   int32
Aire acondicionado     int32
Aparcamiento Sí/No     int32
Aparcamiento          object
dtype: object

In [191]:
df_amenities_final.head(3)

,ID,Vistas Sí/No,Vistas,Primera línea,Wifi,Aire acondicionado,Aparcamiento Sí/No,Aparcamiento
0,178456,1,Vistas al canal,1,1,0,1,Gratuito
1,238799,1,Vistas a la playa,1,1,1,1,Gratuito
2,291211,0,No disponible,0,1,1,1,Gratuito

# Guardar en CSV

In [192]:
df_amenities_final.to_csv('amenities_final.csv', index=False)

# Cargar df

In [194]:
#Cargar df
df = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\GitHub\\WhiteHosting\\CSVs\\amenities_final.csv")

In [195]:
df.head(2)

,ID,Vistas Sí/No,Vistas,Primera línea,Wifi,Aire acondicionado,Aparcamiento Sí/No,Aparcamiento
0,178456,1,Vistas al canal,1,1,0,1,Gratuito
1,238799,1,Vistas a la playa,1,1,1,1,Gratuito