# Importar librerías y df

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\Datasets\\airbnb_pmi.csv")
df2 = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\Datasets\\airbnb_pmi2.csv")

In [ ]:
df1.head(3)

In [ ]:
df2.head(2)

# Juntar los dos DF´s

In [ ]:
#Eliminamos la columna "Unnamed:0"
df1.drop(columns=['Unnamed: 0'], inplace=True)
df2.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
df = pd.merge(df1, df2, on='ID', how='outer')

In [ ]:
df.head(3)

# Limpieza de datos

In [ ]:
df.dtypes

In [ ]:
#1. Convertimos la columna "ID" a un object
df["ID"] = (df["ID"]).astype(str)

In [ ]:
#2. Limpiamos las columnas de precios
#Limpiamos el simbolo de "€"
df["Precio por noche Octubre"] = df["Precio por noche Octubre"].apply(lambda x: x.replace("€", "").replace(",", "").replace(".",""))
df["Precio por noche Octubre"] = df["Precio por noche Octubre"].apply(lambda x: x.replace(",", "").replace(".",""))
columnas_precios = ["Precio por noche Agosto", "Precio por noche Octubre"]

#Reemplazamos los campos "No disponible" con NaN
def reemplazar_no_disponible(valor):
    if valor == "No disponible en Agosto" or valor == "No disponible en Octubre":
        return pd.NA
    else:
        return valor

#Aplicamos la función a las columnas de precios
df[columnas_precios] = df[columnas_precios].applymap(reemplazar_no_disponible)

In [ ]:
#Convertir a enteros excepto los NaN
def convertir_a_entero(valor):
    if pd.isna(valor):
        return valor
    else:
        #Convertir a entero si el valor no es nulo
        return int(float(valor))

#Aplicar la función
df['Precio por noche Agosto'] = df['Precio por noche Agosto'].apply(convertir_a_entero).astype('Int64')
df['Precio por noche Octubre'] = df['Precio por noche Octubre'].apply(convertir_a_entero).astype('Int64')

In [ ]:
df.dtypes

In [ ]:
#3. Limpiar las columnas de Dormitorios, Baños y Camas
#Función para extraer números y convertir a NaN si no hay número
def extract_number(value):
    try:
        return int(value.split()[0])
    except (ValueError, AttributeError):
        return np.nan

# Aplicar la función a las columnas
df['Dormitorios'] = df['Dormitorios'].apply(extract_number)
df['Baños'] = df['Baños'].apply(extract_number)
df['Camas'] = df['Camas'].apply(extract_number)

In [ ]:
df.head(5)

In [ ]:
#Convertimos las columnas de Dormitorios, Baños y Camas a numero entero (por defecto son "float")
df['Dormitorios'] = df['Dormitorios'].astype('Int64')
df['Baños'] = df['Baños'].astype('Int64')
df['Camas'] = df['Camas'].astype('Int64')

In [ ]:
#4. Limpiamos la columna "Valoración" y convertimos a "float"
df['Valoración'] = df['Valoración'].replace('Sin valoraciones', np.nan).replace('Sin evaluaciones', np.nan).replace('Nuevo', np.nan)

df['Valoración'] = df['Valoración'].str.replace(',', '.').astype(float)

In [ ]:
#5. Convertimos la columna "Numero valoraciones" a "integer"
def extract_number(value):
    try:
        return int(value.split()[0])
    except (ValueError, AttributeError):
        return np.nan

#Aplicar la función y convertir a numero entero
df['Numero valoraciones'] = df['Numero valoraciones'].apply(extract_number).astype('Int64')

In [ ]:
#6. Limpiamos la columna "Viajeros máximos" y convertimos a numero entero o nulos
def extract_number(value):
    try:
        return int(value.split()[0])
    except (ValueError, AttributeError):
        return np.nan

#Aplicar la función y convertir a numero entero
df['Viajeros máximos'] = df['Viajeros máximos'].apply(extract_number).astype('Int64')

# Añadir columnas a nuestro interés

In [ ]:
#Añadimos una nueva columna con la tipología
df['Tipología'] = df['Tipo de habitación'].str.split().str[:1]

In [ ]:
df.head(5)

In [ ]:
# Añadimos columna de Precio medio (aug-oct) y excluimos los NaN
df['Precio Medio'] = df[['Precio por noche Agosto', 'Precio por noche Octubre']].mean(axis=1)
df['Precio Medio'] = df['Precio Medio'].round().astype('Int64')

In [ ]:
#Añadir una nueva columna "Título"
df['Título'] = df['Tipo de habitación'].str.split(':| en ', n=1).str[0]

#Eliminar espacios en blanco al principio y al final de los valores
df['Título'] = df['Título'].str.strip()

In [ ]:
#Añadir una nueva columna "Municipio"
df['Municipio'] = df['Tipo de habitación'].str.split(',').str[-2].str.strip()

In [ ]:
df['Municipio'] = df['Municipio'].str.split(' en ', n=1).str[-1]

In [ ]:
#Seguimos limpiando hasta encontrar más "en"
df['Municipio'] = df['Municipio'].str.split(' en ', n=1).str[-1]

In [ ]:
#Limpiamos los "·"s
df['Municipio'] = df['Municipio'].replace('·','')

In [ ]:
print(df['Municipio'].head(15))

In [ ]:
municipios_unicos = df['Municipio'].unique()
municipios_unicos

In [ ]:
#Movemos las columnas para mejor visualización
df = df[['ID', 'Tipo de habitación', 'Título', 'Tipología', 'Ciudad', 'Municipio', 'GPS', 'Precio por noche Agosto', 'Precio por noche Octubre', 'Precio Medio', 'Valoración', 'Numero valoraciones', 'Dormitorios', 'Baños', 'Camas', 'Viajeros máximos', 'Amenities']]

In [ ]:
#Rellenamos los ID´s con zeros delante para tenerlos igualmente largos.
df['ID'] = df['ID'].astype(str).str.zfill(18)

In [ ]:
df.columns

In [ ]:
df.head(3)

,ID,Tipo de habitación,Título,Tipología,Ciudad,Municipio,GPS,Precio por noche Agosto,Precio por noche Octubre,Precio Medio,Valoración,Numero valoraciones,Dormitorios,Baños,Camas,Viajeros máximos,Amenities
0,000000000000178456,"Alojamiento entero: piso en Alcúdia, España",Alojamiento entero,[Alojamiento],Mallorca,Alcúdia,"39.82338,3.11353",<NA>,<NA>,<NA>,4.44,62,2,1,2,4,"['Vistas al canal', 'Vistas al lago', 'Secador..."
1,000000000000238799,"Alojamiento entero: piso en Palma de Mallorca,...",Alojamiento entero,[Alojamiento],Mallorca,Palma de Mallorca,"39.56466,2.66164",<NA>,<NA>,<NA>,4.63,111,1,1,1,2,"['Vistas a la playa', 'Vistas al perfil urbano..."
2,000000000000291211,Alojamiento entero: adosado en Balearic Island...,Alojamiento entero,[Alojamiento],Mallorca,Balearic Islands,"39.76381,3.15481",<NA>,153,153,4.77,81,3,1,5,6,"['Vistas al perfil urbano', 'Bañera', 'Secador..."

# Guardar en un CSV

In [ ]:
df.to_csv("airbnb_pmi_limpio.csv", index=False)

# Cargar CSV

In [ ]:
df = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\\Datasets\\airbnb_pmi_limpio.csv")

In [ ]:
df.dtypes #pandas automaticamente cambia el tipo cuando haya nulos
          #independiendo si ya lo hubieramos tenido bien los datos

In [ ]:
#Volver a cmabiar los tipos a INT
columns_to_convert = ['Precio por noche Agosto', 'Precio por noche Octubre',
                      'Precio Medio', 'Numero valoraciones', 'Dormitorios',
                      'Baños', 'Camas', 'Viajeros máximos']

df[columns_to_convert] = df[columns_to_convert].astype('Int64')

In [ ]:
df.dtypes

# Limpieza de datos 2

In [ ]:
df.head(3)

In [ ]:
#Limpiar la columna 'Tipología'
import ast

df['Tipología'] = df['Tipología'].apply(lambda x: ast.literal_eval(x)[0] if isinstance(x, str) else x)

In [ ]:
#Cambiamos el nombre de la columna GPS a Localización
df.rename(columns={'GPS': 'Localización'}, inplace=True)

# Crear DF2 para los amenities

In [ ]:
df2 = df[['ID', 'Amenities']].copy()

In [ ]:
#Eliminar la columna "Amenities" del df original
df.drop(columns=['Amenities'], inplace=True)

In [ ]:
df.head(2)

In [ ]:
#Cambiamos el nombre de la columna de "Título" a "Tipo de habiatción"
df.rename(columns={'Título': 'Tipo de Alojamiento'}, inplace=True)

# Guardar CSV 2

In [ ]:
df.to_csv("airbnb_pmi_limpio2.csv", index=False)

df2.to_csv("airbnb_pmi_amenities.csv", index=False)

In [ ]:
df.head(2)

In [ ]:
df2.head(2)

# Limpieza de datos 3
*Seguimos con la limpieza ya que encontramos algunas anomalias más - nos enfocamos a los valores NaN.*

In [2]:
df0 = pd.read_csv("C:\\Users\\Usuario\\OneDrive\\Documentos\\Master Data Analytics\\Proyecto Júpiter\\Datasets\\PMI\\airbnb_pmi_limpio2.csv")

In [7]:
df0.head(2)

,ID,Tipo de habitación,Título,Tipología,Ciudad,Municipio,Localización,Precio por noche Agosto,Precio por noche Octubre,Precio Medio,Valoración,Numero valoraciones,Dormitorios,Baños,Camas,Viajeros máximos
0,178456,"Alojamiento entero: piso en Alcúdia, España",Alojamiento entero,Alojamiento,Mallorca,Alcúdia,"39.82338,3.11353",NaN,NaN,NaN,4.44,62.0,2.0,1.0,2.0,4.0
1,238799,"Alojamiento entero: piso en Palma de Mallorca,...",Alojamiento entero,Alojamiento,Mallorca,Palma de Mallorca,"39.56466,2.66164",NaN,NaN,NaN,4.63,111.0,1.0,1.0,1.0,2.0

In [4]:
#Número de filas
df0['ID'].count()

2829

In [8]:
#Contar las filas con valores NaN en la columna "Tipo de Alojamiento"
tipo_alojamiento_nan = df0[df0['Tipo de habitación'].isna()].shape[0]
print("Cantidad de NaN en la columna -Tipo de habitación-:", tipo_alojamiento_nan)

Cantidad de NaN en la columna -Tipo de habitación-: 213

In [9]:
df0[df0['Tipo de habitación'].isna()].head(20)

,ID,Tipo de habitación,Título,Tipología,Ciudad,Municipio,Localización,Precio por noche Agosto,Precio por noche Octubre,Precio Medio,Valoración,Numero valoraciones,Dormitorios,Baños,Camas,Viajeros máximos
6,441953,NaN,NaN,NaN,Mallorca,NaN,"39.5755,2.63928",399.0,200.0,300.0,NaN,NaN,NaN,NaN,NaN,NaN
9,503803,NaN,NaN,NaN,Mallorca,NaN,NaN,NaN,200.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN
20,938566,NaN,NaN,NaN,Mallorca,NaN,NaN,NaN,200.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN
24,1040457,NaN,NaN,NaN,Mallorca,NaN,"39.89435,3.07344",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1391841,NaN,NaN,NaN,Mallorca,NaN,"39.57628,2.6418",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1681937,NaN,NaN,NaN,Mallorca,NaN,"39.5738,2.64301",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,1803679,NaN,NaN,NaN,Mallorca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2313991,NaN,NaN,NaN,Mallorca,NaN,"39.5602,2.674",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,4490544,NaN,NaN,NaN,Mallorca,NaN,"39.56913,2.65589",200.0,200.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN
129,5172774,NaN,NaN,NaN,Mallorca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,5657279,NaN,NaN,NaN,Mallorca,NaN,"39.7564,3.1551",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,6780620,NaN,NaN,NaN,Mallorca,NaN,"39.8411,3.1311",NaN,280.0,280.0,NaN,NaN,NaN,NaN,NaN,NaN
170,7298619,NaN,NaN,NaN,Mallorca,NaN,"39.7645,3.15496",NaN,140.0,140.0,NaN,NaN,NaN,NaN,NaN,NaN
178,7758344,NaN,NaN,NaN,Mallorca,NaN,"39.84193,3.12731",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,7924729,NaN,NaN,NaN,Mallorca,NaN,"39.6026,3.368",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,10899271,NaN,NaN,NaN,Mallorca,NaN,NaN,105.0,105.0,105.0,NaN,NaN,NaN,NaN,NaN,NaN
233,11787228,NaN,NaN,NaN,Mallorca,NaN,"39.4838,2.7366",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,12217331,NaN,NaN,NaN,Mallorca,NaN,"39.71085,2.62445",NaN,NaN,NaN,NaN,NaN,6.0,4.0,8.0,2.0
248,12252898,NaN,NaN,NaN,Mallorca,NaN,"39.82821,3.10496",NaN,100.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN
255,12493265,NaN,NaN,NaN,Mallorca,NaN,NaN,576.0,435.0,506.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Decidimos eliminar las filas cuales tienen NaN en la columna "Tipo de habitación"
df0.dropna(subset=['Tipo de habitación'], inplace=True)

In [11]:
#Número de filas actuales
df0['ID'].count()

2616

In [12]:
#Conocemos bien los datos de la columna "Baños"
print("Valores unicos:", df0['Baños'].unique())
print("--------------------------")
print("Conteo de valores:", df0['Baños'].value_counts(dropna=False))
print("--------------------------")
print("Conteo de valores 0:",(df0['Baños'] == 0).sum())

Valores unicos: [ 1.  2.  5. nan  4.  3.  7.  6.  8.  0.]
--------------------------
Conteo de valores: Baños
1.0    999
2.0    622
NaN    343
5.0    275
3.0    238
4.0     95
0.0     20
6.0     15
7.0      5
8.0      4
Name: count, dtype: int64
--------------------------
Conteo de valores 0: 20

In [13]:
#Reemplazamos los valores "0" y nan a valor "1", ya que no existe ningún alojamiento sin un baño.
df0['Baños'] = df0['Baños'].fillna(0).replace(0, 1)

In [14]:
#Conocemos los valores NaN en la columnas de "Localización"
print("Numero de NaN en la columna - Localización -:", df0[df0['Localización'].isna()].shape[0])

Numero de NaN en la columna - Localización -: 991

In [15]:
df0.columns

Index(['ID', 'Tipo de habitación', 'Título', 'Tipología', 'Ciudad',
       'Municipio', 'Localización', 'Precio por noche Agosto',
       'Precio por noche Octubre', 'Precio Medio', 'Valoración',
       'Numero valoraciones', 'Dormitorios', 'Baños', 'Camas',
       'Viajeros máximos'],
      dtype='object')

Decidimos dejar los valores NaN en el campo de 'Localización'. Serían demasiadas filas para excluir, lo cual podría perjudicar el análisis.

# Guardar CSV 3

In [16]:
df0.to_csv("airbnb_pmi_limpio3.csv", index=False)

# Crear df df y csv final
*Para poder juntar todos los datos de Web-scraping en un df único.*

In [17]:
df_final = df0.copy()

In [19]:
#Volver a cambiar los tipos a INT
columns_to_convert = ['Precio por noche Agosto', 'Precio por noche Octubre',
                      'Precio Medio', 'Numero valoraciones', 'Dormitorios',
                      'Baños', 'Camas', 'Viajeros máximos']

df_final[columns_to_convert] = df_final[columns_to_convert].astype('Int64')

In [20]:
df_final.dtypes

ID                            int64
Tipo de habitación           object
Título                       object
Tipología                    object
Ciudad                       object
Municipio                    object
Localización                 object
Precio por noche Agosto       Int64
Precio por noche Octubre      Int64
Precio Medio                  Int64
Valoración                  float64
Numero valoraciones           Int64
Dormitorios                   Int64
Baños                         Int64
Camas                         Int64
Viajeros máximos              Int64
dtype: object

In [21]:
#Rellenamos los ID´s con zeros delante para tenerlos igualmente largos.
df_final['ID'] = df_final['ID'].astype(str).str.zfill(20)

In [22]:
#Visualizar columnas y las primeras filas
df_final.head(3)

,ID,Tipo de habitación,Título,Tipología,Ciudad,Municipio,Localización,Precio por noche Agosto,Precio por noche Octubre,Precio Medio,Valoración,Numero valoraciones,Dormitorios,Baños,Camas,Viajeros máximos
0,00000000000000178456,"Alojamiento entero: piso en Alcúdia, España",Alojamiento entero,Alojamiento,Mallorca,Alcúdia,"39.82338,3.11353",<NA>,<NA>,<NA>,4.44,62,2,1,2,4
1,00000000000000238799,"Alojamiento entero: piso en Palma de Mallorca,...",Alojamiento entero,Alojamiento,Mallorca,Palma de Mallorca,"39.56466,2.66164",<NA>,<NA>,<NA>,4.63,111,1,1,1,2
2,00000000000000291211,Alojamiento entero: adosado en Balearic Island...,Alojamiento entero,Alojamiento,Mallorca,Balearic Islands,"39.76381,3.15481",<NA>,153,153,4.77,81,3,1,5,6

In [23]:
df_final.to_csv("airbnb_pmi_final.csv", index=False)

***Número de ID´s finales: 2616**